[TORLL]
torll_url = http://127.0.0.1:5006
torll_apikey = torll_apikey

[TORCP]
torcpdb_url = http://127.0.0.1:5009
torcpdb_apikey = torcpdb_apikey

[QBIT]
qbitname = qb10
host = 127.0.0.1
port = 15190
username = admin
password = qbit_password

